@model IEnumerable<BookStore.Models.CHUDE>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("SPTheocd", "BookStore", new {id = item.MaCD})">@item.TenChuDe</a></li>
    }
</ul>